@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer components {
  .card {
    background-color: theme("colors.white");
    border-radius: 21px;
    padding: theme("spacing.6");
  }
  .tab {
    border-radius: 14px;
    padding: theme("spacing.2") theme("spacing.1");
    display: flex;
    justify-content: center;
    align-items: center;
    width: 108px;
    border: 1px solid;
    color: theme("colors.gray.3");
    background-color: theme("colors.white");
    border-color: theme("colors.gray.4");
  }
  .tab-selected {
    border-color: theme("colors.orange.1");
    color: theme("colors.orange.1");
    background-color: theme("colors.orange.2");
    font-weight: bold;
  }
  .secondary-card {
    background-color: theme("colors.orange.2");
    border-radius: 18px;
    padding: theme("spacing.4") theme("spacing.2");
    display: flex;
    width: 100%;
    gap: theme("spacing.2");
  }
  .btn-primary {
    background: linear-gradient(
      90deg,
      theme("colors.primary") 0%,
      theme("colors.orange.1") 100%
    );
    color: theme("colors.white");
    border-radius: 21px;
    padding: theme("spacing.3");
    font-weight: 700;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
